.Heder_style{
    height: 100px;
    background-color: rgb(132 121 225);
    color: rgb(255 255 255);
}
.nav{
    display: flex;
    justify-content: space-around;
}
.nav_bar{
    display: flex;
    align-items: center;

}
.nav_bar div{
    padding: 10px;
}